body{
    background-color: rgb(55, 128, 128);
}
.calc_simples{
    background-color: black ;
    padding: 5px;
    width: 210px;
    border-radius: 5px;
}
.display_simples{
    width: 100%;
    text-align: center;
}
#resultado{
    text-align: right;

}
button{
    width: 40px;
    height: 40px;
    margin: 3px;
}
#igual{
  background-color: rgb(0, 68, 100);
    color: rgb(255, 255, 255) ;
}
